<!DOCTYPE html>
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; Charset=gb2312">
    <meta http-equiv="Content-Language" content="zh-CN">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <title>用户管理</title>
    <!--Layui-->
    <link href="{% static 'plug/layui/css/layui.css' %}" rel="stylesheet"/>
    <!--font-awesome-->
    <link href="{% static 'plug/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet"/>
    <!--全局样式表-->
    <link href="{% static 'admin_home_static/css/global.css' %}" rel="stylesheet"/>
    <!-- 本页样式表 -->
    <link href="{% static 'admin_home_static/css/home.css' %}" rel="stylesheet"/>
    <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet"/>
    <script src="http://i.gtimg.cn/qzone/biz/gdt/lib/jquery/jquery-2.1.4.js?max_age=31536000"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link rel="stylesheet" href="{% static 'admin_home_static/css/amazeui.min.css' %}">

</head>
<body>
<!-- 导航 -->
<nav class="blog-nav layui-header">
    <div class="blog-container">

        {% if now_user %}
            <a href="" class="blog-user">
                <b style="color: white">HI,<span id="user_logged_in">{{ username_head }}****{{ username_tail }}</span>
                </b>
                <object><a href="{% url 'myadmin:admin_log_out' %}" style="color: white">[退出]</a></object>
            </a>
        {% else %}
            <a href="{% url 'myadmin:admin_login' %}" class="blog-user">
                <b style="color: white">立即登陆</b></a>
        {% endif %}

        <!-- 页面系统主题 -->
        <a class="blog-logo" href="{% url 'myadmin:admin_home' %}">用户管理</a>
        <h1 id="page_count" style="display: none;">1</h1>
        <!-- 当前时间显示-->
        {#<div>#}
        {#    <div id="Main" style=" text-align:center;font-size:20px;color:white;line-height: 64px;"></div>#}
        {#</div>#}

        <!-- 手机和平板的导航开关 -->
        <a class="blog-navicon" href="javascript:;">
            <i class="fa fa-navicon"></i>
        </a>
    </div>
</nav>
<!-- 主体（一般只改变这里的内容） -->
<div class="blog-body">
    <!-- canvas -->
    <canvas id="canvas-banner" style="background: #393D49;"></canvas>
    <!--为了及时效果需要立即设置canvas宽高，否则就在home.js中设置-->
    <script type="text/javascript">
        var canvas = document.getElementById('canvas-banner');
        canvas.width = window.document.body.clientWidth - 10;//减去滚动条的宽度
        if (screen.width >= 992) {
            canvas.height = window.innerHeight * 1 / 3;
        } else {
            canvas.height = window.innerHeight * 2 / 7;
        }
    </script>
    <!-- 这个一般才是真正的主体内容 -->
    <div class="blog-container">
        <div class="blog-main">
            <!-- 网站公告提示 -->
            <div class="home-tips shadow">
                <i style="float:left;line-height:17px;" class="fa fa-volume-up"></i>
                <div class="home-tips-container">
                    <span style="color: #009688;font:14px Helvetica Neue,Helvetica,PingFang SC,\5FAE\8F6F\96C5\9ED1,Tahoma,Arial,sans-serif">欢迎您!</span>
                    {#<span style="color: #009688;font:14px Helvetica Neue,Helvetica,PingFang SC,\5FAE\8F6F\96C5\9ED1,Tahoma,Arial,sans-serif">有时查询会比较慢，请耐心等待！</span>#}
                </div>
            </div>

            <div class="container" id="container">
                <div class="am-g" id="am-g">
                    <div class="am-u-sm-12 am-u-md-6" style="width: 45%">
                        <div class="am-btn-toolbar">
                            <div class="am-btn-group am-btn-group-xs">
                                <a href="{% url 'myadmin:admin_adduser' %}">
                                    <button type="button" class="am-btn am-btn-default btnAdd">
                                        <span class="icon-plus"></span> 新增用户
                                    </button>
                                </a>

                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-6" style="width: 25%">
                        <div class="am-btn-group am-btn-group-xs">
                            <h2>总用户:{{ all_user_count }}</h2>
                        </div>

                    </div>

                    <div class="am-u-sm-12 am-u-md-3">
                        <div class="am-input-group am-input-group-sm" style="width: 65% ;right: -105px">
                            <input class="am-form-field" placeholder="请输入昵称" id="input_search_user" type="text">
                            <span class="am-input-group-btn">
										<button class="am-btn am-btn-default" type="button" id="btn_search_user"
                                                onclick="ajax_search_user()">
											搜索
										</button> </span>
                        </div>
                    </div>
                </div>
                {#所显示内容#}
                <div class="am-g" style="margin-top: -30px;">
                    <div class="am-u-sm-12">
                        <table class="am-table am-table-striped am-table-hover table-main" id="user_table">
                            <thead>
                            <tr>
                                <th class="table-id" style="text-align: center">
                                    ID
                                </th>
                                <th class="table-title" style="text-align: center">
                                    昵称
                                </th>
                                <th style="text-align: center">
                                    手机号
                                </th>
                                <th style="text-align: center">
                                    邮箱
                                </th>

                                <th style="text-align: center">
                                    登陆时间
                                </th>
                                <th style="text-align: center">
                                    使用的激活码
                                </th>
                                <th style="text-align: center">
                                    是否被删除
                                </th>
                                <th class="table-set" style="text-align: center">
                                    操作
                                </th>
                            </tr>
                            </thead>

                            <tbody id="tUser">

                            {% for user in page.object_list %}
                                <tr>

                                    <td style="text-align: center"><a
                                            href="{% url 'myadmin:admin_user_detail' %}?user_id={{ user.id }}">{{ user.id }}</a>
                                    </td>
                                    <td style="text-align: center">{{ user.nickname }}</td>
                                    <td style="text-align: center">{{ user.phone }}</td>
                                    <td style="text-align: center">{{ user.email }}</td>
                                    <td style="text-align: center">{{ user.last_login }}</td>
                                    <td style="text-align: center">{{ user.used_code }}</td>
                                    <td style="text-align: center">{{ user.is_deleted }}</td>

                                    <td>
                                        <div class="am-btn-toolbar">
                                            <div class="am-btn-group am-btn-group-xs">

                                                {% if user.is_deleted %}
                                                    <button type="button"
                                                            class="am-btn am-btn-default am-btn-xs am-text-secondary btnEdit"
                                                            onclick="" style="pointer-events:none">
                                                        <span class="am-icon-pencil-square-o"></span> 编辑
                                                    </button>
                                                    <button type="button"
                                                            class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"
                                                            onclick="" style="pointer-events:none">
                                                        <span
                                                                class="am-icon-trash-o"></span>
                                                        删除
                                                    </button>
                                                {% else %}
                                                    <button type="button"
                                                            class="am-btn am-btn-default am-btn-xs am-text-secondary btnEdit"
                                                            onclick="skip_change_user_password({{ user.id }})" >
                                                        <span class="am-icon-pencil-square-o"></span> 编辑
                                                    </button>
                                                    <button
                                                            class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"
                                                            onclick="ajax_delete_user({{ user.id }})">
                                                        <span
                                                                class="am-icon-trash-o"></span>
                                                        删除
                                                    </button>
                                                {% endif %}

                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}


                            </tbody>
                        </table>

                    </div>
                </div>

            </div>

            <div class="clear"></div>
        </div>
    </div>
</div>
<!-- 底部 -->
<footer class="blog-footer">
    <p><span>Copyright</span><span>&copy;</span><span>2022</span><a href="http://www.lyblogs.cn">价格分析系统</a><span>Design By GK</span>
    </p>
</footer>

<!--遮罩-->
<div class="blog-mask animated layui-hide"></div>
<!-- layui.js -->
<script src="{% static 'plug/layui/layui.js' %}"></script>
<!-- 全局脚本 -->
<script src="{% static 'admin_home_static/js/global.js' %}"></script>
<!-- 本页脚本 -->
<script src="{% static 'admin_home_static/js/home.js' %}"></script>
<script>
    $(window).bind("scroll", function () {

        if (getScrollHeight() <= getDocumentTop() + getWindowHeight()) {
            ajax_load_data()
        }

    });
    
    function skip_change_user_password(user_id) {
        window.location.href = '/myAdmin/user_change_password/?user_id=' + user_id
    }
</script>
<script src="{% static 'admin_home_static/js/ajax_home.js' %}"></script>
</body>
</html>