<!DOCTYPE html>
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; Charset=gb2312">
    <meta http-equiv="Content-Language" content="zh-CN">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <title>用户详情</title>
    <!--Layui-->
    <link href="{% static 'plug/layui/css/layui.css' %}" rel="stylesheet"/>
    <!--font-awesome-->
    <link href="{% static 'plug/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet"/>
    <!--全局样式表-->
    <link href="{% static 'admin_change_user_static/css/global.css' %}" rel="stylesheet"/>
    <!-- 本页样式表 -->
    <link href="{% static 'admin_change_user_static/css/home.css' %}" rel="stylesheet"/>

    <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet"/>
    <script src="http://i.gtimg.cn/qzone/biz/gdt/lib/jquery/jquery-2.1.4.js?max_age=31536000"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <link rel="stylesheet" href="{% static 'admin_add_user_static/css/amazeui.min.css' %}">

</head>
<body>
<!-- 导航 -->
<nav class="blog-nav layui-header">
    <div class="blog-container">

        {% if now_user %}
            <a href="" class="blog-user">
                <b style="color: white">HI,<span id="user_logged_in">{{ username_head }}****{{ username_tail }}</span>
                </b>
                <object><a href="{% url 'myadmin:admin_log_out' %}" style="color: white">[退出]</a></object>
            </a>
        {% else %}
            <a href="{% url 'myadmin:admin_login' %}" class="blog-user">
                <b style="color: white">立即登陆</b></a>
        {% endif %}

        <!-- 页面系统主题 -->
        <a class="blog-logo" href="{% url 'myadmin:admin_home' %}">用户详情</a>
        <!-- 当前时间显示-->
        {#<div>#}
        {#    <div id="Main" style=" text-align:center;font-size:20px;color:white;line-height: 64px;"></div>#}
        {#</div>#}

        <!-- 手机和平板的导航开关 -->
        <a class="blog-navicon" href="javascript:;">
            <i class="fa fa-navicon"></i>
        </a>
    </div>
</nav>
<!-- 主体（一般只改变这里的内容） -->
<div class="blog-body">
    <!-- canvas -->
    <canvas id="canvas-banner" style="background: #393D49;"></canvas>
    <!--为了及时效果需要立即设置canvas宽高，否则就在home.js中设置-->
    <script type="text/javascript">
        var canvas = document.getElementById('canvas-banner');
        canvas.width = window.document.body.clientWidth - 10;//减去滚动条的宽度
        if (screen.width >= 992) {
            canvas.height = window.innerHeight * 1 / 3;
        } else {
            canvas.height = window.innerHeight * 2 / 7;
        }
    </script>
    <!-- 这个一般才是真正的主体内容 -->
    <div class="blog-container">
        <div class="blog-main">
            <!-- 网站公告提示 -->
            <div class="home-tips shadow">
                <i style="float:left;line-height:17px;" class="fa fa-volume-up"></i>
                <div class="home-tips-container">
                    <span style="color: #009688;font:14px Helvetica Neue,Helvetica,PingFang SC,\5FAE\8F6F\96C5\9ED1,Tahoma,Arial,sans-serif">欢迎您!</span>
                    {#<span style="color: #009688;font:14px Helvetica Neue,Helvetica,PingFang SC,\5FAE\8F6F\96C5\9ED1,Tahoma,Arial,sans-serif">有时查询会比较慢，请耐心等待！</span>#}
                </div>
            </div>


            <div class="am-g">
                <form enctype="multipart/form-data" class="am-form am-form-horizontal" id="admin_change_form"
                      action="{% url 'myadmin:admin_adduser_check' %}" method="post"
                      style="padding-top: 30px;">
                    {% csrf_token %}
                    <input value="504" name="roleId" type="hidden">
                    <div class="am-form-group" style="width: 380px;margin: 0 auto">
                        <label for="user-head_portrait" class="am-u-sm-3 am-form-label">
                            ID
                        </label>
                        <div class="am-u-sm-9">
                            <input id="txt_id" required="" placeholder="{{ goal_user.id }}" value=""
                                   name="txt_id"
                                   type="text" style="pointer-events:none;text-align: center">

                        </div>
                    </div>
                    <br>
                    <div class="am-form-group" style="width: 380px;margin: 0 auto">
                        <label for="user-name" class="am-u-sm-3 am-form-label">
                            昵称
                        </label>
                        <div class="am-u-sm-9">
                            <input id="txt_nickname" required="" placeholder="{{ goal_user.nickname }}" type="text"
                                   value="" name="txt_nickname"
                                   style="pointer-events:none;text-align: center">
                        </div>
                    </div>
                    <br>
                    <div class="am-form-group" style="width: 380px;margin: 0 auto">
                        <label for="user-name" class="am-u-sm-3 am-form-label">
                            手机号
                        </label>
                        <div class="am-u-sm-9">
                            <input id="txt_phone" required="" placeholder="{{ goal_user.phone }}" value=""
                                   name="txt_phone"
                                   type="text" style="pointer-events:none;text-align: center">
                        </div>
                    </div>
                    <br>
                    <div class="am-form-group" style="width: 380px;margin: 0 auto">
                        <label for="user-age" class="am-u-sm-3 am-form-label">
                            邮箱
                        </label>
                        <div class="am-u-sm-9">
                            <input id="txt_email" required="" placeholder="{{ goal_user.email }}" value=""
                                   name="txt_email" type="text"
                                   style="pointer-events:none;text-align: center">

                        </div>
                    </div>
                    <br>


                    <div class="am-form-group" style="width: 380px;margin: 0 auto">
                        <label for="user-phone" class="am-u-sm-3 am-form-label">
                            密码
                        </label>
                        <div class="am-u-sm-9">
                            <input id="txt_password" required="" placeholder="请输入新密码" value="" name="txt_password"
                                   type="password" onblur="ajax_password()" style="text-align: center">
                            <span id="password_ok" class="icon_yes" style="display: none;"></span>

                        </div>
                    </div>
                    <br>
                    <div class="am-form-group" style="width: 380px;margin: 0 auto">
                        <label for="user-phone" class="am-u-sm-3 am-form-label">
                            确认密码
                        </label>
                        <div class="am-u-sm-9">
                            <input id="txt_re_password" required="" placeholder="请再次确认密码" value=""
                                   name="txt_re_password"
                                   type="password" onblur="ajax_re_password()" style="text-align: center">
                            <span id="re_password_ok" class="icon_yes" style="display: none;"></span>

                        </div>
                    </div>
                    <br>
                    <div class="am-form-group" style="width: 380px;margin: 0 auto">
                        <label for="user-head_portrait" class="am-u-sm-3 am-form-label">
                            被删除
                        </label>
                        <div class="am-u-sm-9">
                            <input id="txt_code" required="" placeholder="{{ goal_user.is_deleted }}" value=""
                                   name="txt_code"
                                   type="text" style="pointer-events:none;text-align: center">

                        </div>
                    </div>
                    <br>
                    <div class="am-form-group" style="width: 380px;margin: 0 auto">
                        <div class="am-u-sm-9 am-u-sm-push-3">
                            <input id="addRole" class="am-btn am-btn-success" value="提交修改" type="button"
                                   onclick="button_submit()" style="width:124px">

                            <a href="{% url 'myadmin:admin_home' %}"> <input id="to_main" class="am-btn am-btn-success"
                                                                             value="返回主页" type="button"
                                                                             onclick="" style="width:124px"></a>

                        </div>
                    </div>
                </form>
            </div>

            <div class="clear"></div>
        </div>
    </div>
</div>
<!-- 底部 -->
<footer class="blog-footer">
    <p><span>Copyright</span><span>&copy;</span><span>2022</span><a href="http://www.lyblogs.cn">价格分析系统</a><span>Design By GK</span>
    </p>
</footer>

<!--遮罩-->
<div class="blog-mask animated layui-hide"></div>
<!-- layui.js -->
<script src="{% static 'plug/layui/layui.js' %}"></script>
<!-- 全局脚本 -->
<script src="{% static 'admin_change_user_static/js/global.js' %}"></script>
<!-- 本页脚本 -->
<script src="{% static 'admin_change_user_static/js/home.js' %}"></script>
<script src="{% static 'admin_change_user_static/js/ajax_check.js' %}"></script>
</body>
</html>