<!DOCTYPE html>
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; Charset=gb2312">
    <meta http-equiv="Content-Language" content="zh-CN">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <title>电商历史价格分析系统</title>
    <!--Layui-->
    <link href="{% static 'plug/layui/css/layui.css' %}" rel="stylesheet"/>
    <!--font-awesome-->
    <link href="{% static 'plug/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet"/>
    <!--全局样式表-->
    <link href="{% static 'home_static/css/global.css' %}" rel="stylesheet"/>
    <!-- 本页样式表 -->
    <link href="{% static 'home_static/css/home.css' %}" rel="stylesheet"/>
    <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet"/>
    <script src="http://i.gtimg.cn/qzone/biz/gdt/lib/jquery/jquery-2.1.4.js?max_age=31536000"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
</head>
<body>
<!-- 导航 -->
<nav class="blog-nav layui-header">
    <div class="blog-container">

        {% if now_user %}
            <a href="" class="blog-user">
                <b style="color: white">HI,<span id="user_logged_in">{{ username_head }}****{{ username_tail }}</span>
                </b>
                <object><a href="{% url 'user:user_log_out' %}" style="color: white">[退出]</a></object>
            </a>
        {% else %}
            <a href="/user/login/" class="blog-user">
                <b style="color: white">立即登陆</b></a>
        {% endif %}

        <!-- 页面系统主题 -->
        <a class="blog-logo" href="/home/">历史价格查询</a>
        <!-- 当前时间显示-->
        {#<div>#}
        {#    <div id="Main" style=" text-align:center;font-size:20px;color:white;line-height: 64px;"></div>#}
        {#</div>#}

        <!-- 手机和平板的导航开关 -->
        <a class="blog-navicon" href="javascript:;">
            <i class="fa fa-navicon"></i>
        </a>
    </div>
</nav>
<!-- 主体（一般只改变这里的内容） -->
<div class="blog-body">
    <!-- canvas -->
    <canvas id="canvas-banner" style="background: #393D49;"></canvas>
    <!--为了及时效果需要立即设置canvas宽高，否则就在home.js中设置-->
    <script type="text/javascript">
        var canvas = document.getElementById('canvas-banner');
        canvas.width = window.document.body.clientWidth - 10;//减去滚动条的宽度
        if (screen.width >= 992) {
            canvas.height = window.innerHeight * 1 / 3;
        } else {
            canvas.height = window.innerHeight * 2 / 7;
        }
    </script>
    <!-- 这个一般才是真正的主体内容 -->
    <div class="blog-container">
        <div class="blog-main">
            <!-- 网站公告提示 -->
            <div class="home-tips shadow">
                <i style="float:left;line-height:17px;" class="fa fa-volume-up"></i>
                <div class="home-tips-container">
                    <span style="color: #009688;font:14px Helvetica Neue,Helvetica,PingFang SC,\5FAE\8F6F\96C5\9ED1,Tahoma,Arial,sans-serif">[查询商品历史价格走势] 京东、天猫、淘宝、拼多多、亚马逊、苏宁、当当、考拉、严选、国美等商品网址!</span>
                    <span style="color: #009688;font:14px Helvetica Neue,Helvetica,PingFang SC,\5FAE\8F6F\96C5\9ED1,Tahoma,Arial,sans-serif">有时查询会比较慢，请耐心等待！</span>
                </div>
            </div>


            <!-- 主体查询框-->
            <div>
                <input type="text" id="history_key" name="history_key" class="ipt" value=""
                       placeholder="请复制商品的网页地址，如：https://item.jd.com/5089253.html">
                <input type="submit" class="btn" value="查询" onclick="fetchData()">
            </div>
            <div id="bar" style="width:1180px; height:800px;"></div>


            <div class="clear"></div>
        </div>
    </div>
</div>
<!-- 底部 -->
<footer class="blog-footer">
    <p><span>Copyright</span><span>&copy;</span><span>2022</span><a href="http://www.lyblogs.cn">价格分析系统</a><span>Design By GK</span>
    </p>
</footer>

<!--遮罩-->
<div class="blog-mask animated layui-hide"></div>
<!-- layui.js -->
<script src="{% static 'plug/layui/layui.js' %}"></script>
<!-- 全局脚本 -->
<script src="{% static 'home_static/js/global.js' %}"></script>
<!-- 本页脚本 -->
<script src="{% static 'home_static/js/home.js' %}"></script>
</body>
<script>
    var chart = echarts.init(document.getElementById('bar'), 'white', {renderer: 'canvas'});


    function fetchData() {
        // url正则
        let uPattern = /(http|https):\/\/([\w.]+\/?)\S*/;

        // 获取用户输入框里的url
        let history_key = document.getElementById('history_key').value;

        // 判断用户是否登陆
        let user_logged_in = document.getElementById('user_logged_in');


        if (user_logged_in !== null) {
            // 正则检验
            if (uPattern.test(history_key)) {
                // 发送异步ajax请求
                $.ajax({
                    // 请求类型
                    type: "GET",
                    // 请求地址
                    url: "/demo/bar/",
                    // 携带数据
                    data: 'history_key=' + history_key,
                    // 数据类型
                    dataType: 'json',
                    // 请求成功返回对毁掉函数
                    success: function (result) {
                        // 判断是否正常接收到数据
                        if (result.data === false) {
                            // 提示框
                            toastr.error('当前输入商品地址错误!')

                        } else {
                            chart.setOption(result.data);
                        }
                    }
                });

            } else {
                // 提示框
                toastr.error('当前输入商品地址错误!')
            }

        } else {
            // 提示框
            toastr.error('请先进行登陆!')
        }

    }
</script>
</html>